@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: chartreuse;
  font-family: sans-serif;
}

.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: black;
  font-size: 3em;
  height: 300px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  width: 225px;
}
#card-symbol-top {
  position: relative;
  text-align: left;
  font-size: 65px;
  top: -30px;
}
h2 {
  font-size: 60px;
  align-items: center;
}
#card-symbol-bottom {
  position: relative;
  text-align: right;
  font-size: 65px;
}
.btn-light:hover {
  opacity: 90%;
  border-radius: 6px;
}
